.login-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  position: relative; 
  margin: 0;
  padding: 0;
  overflow: hidden; 
}
.error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.login-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(2px);
  z-index: -1; /* Sends it behind the content */
}


form {
  width: 100%;
  max-width: 400px;
  height: 50vh;
  padding: 2rem;
  padding-top: 1rem;
  border-radius: 12px 12px 0 0;
  background-color: white;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.3);
  margin: 0;
  display: flex;
  flex-direction: column;
}

h2 {
  font-family: 'Lexend Deca', sans-serif;
  text-align: left;
  margin-bottom: 2rem;
  margin-top: 0;
  color: #BF6A02;
  font-size: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 1rem;
}

label {
  font-family: 'Lexend Giga', sans-serif;
  margin-bottom: 0.3rem;
  font-weight: bold;
  font-size: 0.95rem;
  color: #757575;
}

input {
  width: 90%;
  padding: 0.8rem;
  border: 1px solid #ccc; 
  border-radius: 8px;
  font-size: 1rem;
  display: block;
  margin: 0 auto;
  background-color: #f0f0f0; 
}

.no-account {
  font-size: 0.9rem;
  color: #777;
  text-decoration: none; 
  text-align: center;
  margin-top: 1rem; /* Pushes it to the bottom */
  font-family: 'Lexend Giga', sans-serif;
}
.no-account a:visited {
  color: #777;   
  text-decoration: none;
}

.no-account a:hover {
  color: #BF6A02; 
  text-decoration: none;
}



button {
  font-family: 'Lexend Giga', sans-serif;
  width: 85%;
  padding: 0.8rem;
  background-color: #EEEEEC;
  color: #BF6A02;
  font-size: 20;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto; 
  font-weight: bold;
  margin-top: 1rem;
}

a {
  position: relative; 
  z-index: 1;
}


button:hover {
  background-color: #BF6A02;
}

@media (min-width: 768px) {
  button {
    margin-top: 1rem; /* Push the button further down */
  }

  .no-account {
    margin-top: 2rem; /* Push the button further down */
  }
  


}
