/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;   
  }
  
  a {
    position: relative; /* Ensure it's not overlapped by other elements */
    z-index: 1;  /* Give it higher stacking order if needed */
    text-decoration: none;
    pointer-events: auto;
  }
  